*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.bg-light-green{
    background-color: #E1FFDC;
}

.bg-green{
    background-color: #7EB782;
}

.bg-pink{
    background-color: #FF5573;
}

.bg-light-pink{
    background-color: #FFCED7;
}

.bg-light-blue{
    background-color: #E2F2FF;
}

.bg-blue{
    background-color: #3279AF;
}

.navbar{
    background-color: #D9D9D9;
    justify-content: center;
    display: flex;
    height: 50px;
    width: 100%;
}

.navbar ul{
    width: 320px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.title{
    text-align: center;
    font-weight: 700;
    margin: 30px 0;
}

.container{
    display: flex;
    justify-content: center;
}

.main{
    gap: 29px;
    display: flex;
    flex-direction: row;
}

.left-row{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-card-left{
    position: relative;
    height: 180px;
    max-width: 490px;
    max-height: 180px;
    background-color: #FFF4DC;
    border-radius: 20px;
}

.top-card-img{
    width: 240px;
    position: absolute;
    bottom: 0;
}

.card-title-top-card-left{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 220px;
    padding-right: 20px;
}

.title-top-card-left{
    font-weight: 500;
    font-size: 32px;
    margin-top: 10px;
}

.subtitle-top-card-left{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 40px
}

.btn-top-card{
    height: 37px;
    background-color: #E29A00;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 15px;
    border: none;
}

.top-card-right{
    height: 392px;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.field-top-card-right{
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #D8D6C1;
    border-radius: 20px;
    width: 423px;
    height: 96px;
}

.field-top-card-right-image{
    width: 70px;
    margin: 0 10px;
}

.field-top-card-right-info-title{
    font-size: 20px;
    font-weight: 500;
}

.field-top-card-right-button{
    font-size: 12px;
    font-weight: 500;
    color: white;
    width: 149px;
    height: 22px;
    border: none;
    border-radius: 10px;
    background-color: #D8D6C1;
}

.sec-card-right{
    background-color: #F2F2F2;
    width: 500px;
    height: 180px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.field-sec-card-right{
    display: flex;
    align-items: center;
}

.field-sec-card-right-image{
    width: 120px;
    display: flex;
}

.field-sec-card-right-title{
    font-weight: 500;
    font-size: 15px;
}

.field-sec-card-right-button{
    margin-top: 10px;
    width: 100px;
    height: 55px;
    border-radius: 10px;
    border: none;
    background-color: #D8D6C1;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.right-row{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-row-2{
    width: 500px;
    display: flex;
    gap: 20px;
}

.col-left-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.base-card{
    position: relative;
    width: 235px;
    height: 180px;
    border-radius: 20px;
}

.btn-base{
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 15px;
    border: none;
    width: 173px;
    height: 37px;
}

.btn-base-card{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.base-card-image{
    width: 239px;
    height: 178px;
}

.col-left-right{
    border-radius: 20px;
    height: 392px;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-left-right div div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-left-right-image{
    margin-top: 10px;
    width: 200px;
}

.col-left-right-title{
    font-size: 20px;
    font-weight: 500;
}

.col-left-right-desc{
    margin: 15px 0;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    width: 133px;
}

@media screen and (max-width: 425px) {

    .bg-light-orange{
        background-color: #FFDBC5;
    }
    
    .bg-orange{
        background-color: #E36415;
    }

    .bg-medium-blue{
        background-color: #8FC5ED;
    }

    .bg-old-blue{
        background-color: #275E87;
    }

    body{
        padding-bottom: 60px;
    }

    .navbar{
        position: fixed;
        z-index: 1000;
        bottom: 0;
    }

    .main{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .left-row{
        width: auto;
    }

    .left-row-2{
        width: auto;
        flex-direction: column;
        align-items: center;
    }

    .top-card-left{
        width: 289px;
        height: 299px;
        max-height: 299px;
        margin-top: 50px;
        flex-direction: column;
        left: 50%;
        transform: translateX(-50%);
    }

    .top-card-img{
        width: 240px;
        top: 17%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .subtitle-top-card-left{
        margin: 0;
    }

    .btn-top-card{
        width: 212px;
    }

    .card-title-top-card-left{
        flex-direction: column-reverse;
        margin-top: -22px;
        padding: 0;
        align-items: center;
    }

    .card-title-top-card-left div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right-row{
        display: flex;
        align-items: center;
    }

    .title-top-card-left{
        font-size: 24px;
    }

    .top-card-right{
        max-width: 289px;
        height: auto;
        width: auto;
        padding: 0;
    }

    .field-top-card-right{
        position: relative;
        width: 289px;
        height: 221px;
        background-color: #E9E8E2;
        flex-direction: column;
        border: none;
    }

    .button-mobile{
        font-size: 20px;
        font-weight: 500;
        width: 212px;
        height: 45px;
        border-radius: 15px;
    }

    .field-top-card-right-image{
        height: 100%;
        width: auto;
    }

    .field-top-card-right-button{
        background-color: #CAC8B3;
    }

    .field-top-card-right-info-title{
        display: none;
    }

    .field-top-card-right-info{
        position: absolute;
        top: 75%;
    }

    .sec-card-right{
        width: auto;
        height: auto;
        flex-direction: column;
    }

    .base-card{
        display: flex;
        justify-content: center;
        width: 289px;
        height: 221px;
    }

    .base-card-image{
        width: 275px;
        height: 217px;
    }

    .btn-base-card{
        top: 85%;
    }

    .col-left-right{
        position: relative;
        width: 289px;
        height: 314px;
        margin-top: 50px;
    }

    .col-left-right-image{
        position: absolute;
        top: 24%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 275px;
    }

    .col-left-right-desc{
        margin: 0;
        width: 169px;
    }

    .btn-col-left-right{
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .field-col-left-right{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 230px;
    }

    .sec-card-right{
        background-color: white;
    }

    .field-sec-card-right{
        position: relative;
        border-radius: 20px;
        width: 289px;
        height: 226px;
        flex-direction: column;
    }

    .field-sec-card-right-title{
        display: none;
    }

    .field-sec-card-right-image{
        height: 100%;
        width: auto;
    }

    .field-sec-card-right-button{
        position: absolute;
        top: 80%;
        transform: translate(-50%, -50%);
    }
    
}